In [2]:
#Bring in datasets

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import requests
import time
from scipy.stats import linregress
import os
import csv
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
# import python library
import pandas as pd
# assign a variable that contains a string of your credentials
credentials ="postgres://postgres:postgres@localhost:5432/Coders_D2"
# read in your SQL query results using pandas
dataframe = pd.read_sql("""select * from coders_d
            """, con = credentials)
# return your first five rows
dataframe.head()

,Participantno,Age,CommuteTime,CountryCitizen,CountryLive,EmploymentField,EmploymentFieldOther,EmploymentStatus,ExpectedEarning,FinanciallySupporting,...,HoursLearning,Income,IsEthnicMinority,IsReceiveDisabilitiesBenefits,IsSoftwareDev,IsUnderEmployed,LanguageAtHome,MaritalStatus,MoneyForLearning,MonthsProgramming
0,1,27.0,15 to 29 minutes,Canada,Canada,software development and IT,None,Employed for wages,NaN,NaN,...,15.0,NaN,NaN,0.0,0.0,0.0,English,married or domestic partnership,150.0,6.0
1,2,34.0,None,United States of America,United States of America,None,None,Not working but looking for work,35000.0,NaN,...,10.0,NaN,0.0,0.0,0.0,NaN,English,"single, never married",80.0,6.0
2,3,21.0,15 to 29 minutes,United States of America,United States of America,software development and IT,None,Employed for wages,70000.0,NaN,...,25.0,13000.0,1.0,0.0,0.0,0.0,Spanish,"single, never married",1000.0,5.0
3,4,26.0,I work from home,Brazil,Brazil,software development and IT,None,Employed for wages,40000.0,0.0,...,14.0,24000.0,0.0,0.0,0.0,1.0,Portuguese,married or domestic partnership,0.0,5.0
4,5,20.0,None,Portugal,Portugal,None,None,Not working but looking for work,140000.0,NaN,...,10.0,NaN,0.0,0.0,0.0,NaN,Portuguese,"single, never married",0.0,24.0

In [6]:
#create a dataframe with relevant demo data and country information
Country_data = dataframe[["Age","CountryLive","Gender","Income"]]
Country_data.head(25)

     Age               CountryLive  Gender   Income
0   27.0                    Canada  female      NaN
1   34.0  United States of America    male      NaN
2   21.0  United States of America    male  13000.0
3   26.0                    Brazil    male  24000.0
4   20.0                  Portugal  female      NaN
5   28.0                    Canada    male      NaN
6   29.0            United Kingdom  female  40000.0
7   29.0  United States of America  female      NaN
8   23.0  United States of America  female  30000.0
9   24.0                    Mexico    male      NaN
10  20.0  United States of America    male  20000.0
11  22.0                   Germany    male      NaN
12  18.0  United States of America    male  10000.0
13  44.0  United States of America  female      NaN
14  27.0  United States of America    male      NaN
15  32.0  United States of America    male  20000.0
16  29.0  United States of America    male  60000.0
17  18.0  United States of America    male      NaN
18  46.0  United States of America  female  76000.0
19  31.0  United States of America    male  34000.0
20  32.0                 Macedonia    male      NaN
21  23.0  United States of America  female  11000.0
22  27.0            United Kingdom  female  46700.0
23  27.0  United States of America  female      NaN
24  26.0                    Canada    male  40000.0

In [7]:
USA_data = Country_data.loc[(Country_data["CountryLive"] == "United States of America")]
USA_data

        Age               CountryLive  Gender   Income
1      34.0  United States of America    male      NaN
2      21.0  United States of America    male  13000.0
7      29.0  United States of America  female      NaN
8      23.0  United States of America  female  30000.0
10     20.0  United States of America    male  20000.0
...     ...                       ...     ...      ...
18122  48.0  United States of America  female  60000.0
18129  55.0  United States of America  female  60000.0
18130  23.0  United States of America    male  60000.0
18163  57.0  United States of America    male  60000.0
18164  29.0  United States of America    male  24000.0

[5791 rows x 4 columns]

In [8]:
#groupby country to get counts per country (count based on AGE column)
Country_group_df = Country_data[["CountryLive","Age"]]
Country_group = pd.DataFrame(Country_group_df.groupby(["CountryLive"]).count())
Country_group = Country_group.reset_index()
Country_group

                  CountryLive  Age
0                 Afghanistan    6
1                     Albania   17
2                     Algeria   21
3                      Angola    5
4                    Anguilla    1
..                        ...  ...
167  Virgin Islands (British)    1
168      Virgin Islands (USA)   13
169                     Yemen    2
170                    Zambia    5
171                  Zimbabwe   11

[172 rows x 2 columns]

In [9]:
#group by country and gender to get gender stats (count based on AGE column)
Country_gen = pd.DataFrame(Country_data.groupby(by=["CountryLive","Gender"])["Age"].count())
Country_gen = Country_gen.reset_index()
Country_gen

     CountryLive       Gender  Age
0    Afghanistan  genderqueer    1
1    Afghanistan         male    3
2    Afghanistan        trans    1
3        Albania      agender    1
4        Albania       female    1
..           ...          ...  ...
313        Yemen       female    1
314       Zambia       female    1
315       Zambia         male    4
316     Zimbabwe       female    1
317     Zimbabwe         male   10

[318 rows x 3 columns]

In [10]:
Country_age = pd.DataFrame(Country_data.groupby(by=["CountryLive"])["Age"].mean())
Country_age = Country_age.reset_index()
Country_age = Country_age.round(decimals=0)
Country_age

                  CountryLive   Age
0                 Afghanistan  20.0
1                     Albania  23.0
2                     Algeria  24.0
3                      Angola  25.0
4                    Anguilla  25.0
..                        ...   ...
167  Virgin Islands (British)  16.0
168      Virgin Islands (USA)  41.0
169                     Yemen  10.0
170                    Zambia  31.0
171                  Zimbabwe  26.0

[172 rows x 2 columns]

In [11]:
merged_df = pd.merge(Country_group, Country_gen, how="outer", on="CountryLive")
merged_df = merged_df.rename(columns={"Age_x": "Participants", "Age_y": "Answered"})
merged_df["Percentage"] = (merged_df["Answered"] / merged_df["Participants"]) * 100
merged_df = merged_df.round(decimals=0)
merged_df

     CountryLive  Participants       Gender  Answered  Percentage
0    Afghanistan             6  genderqueer       1.0        17.0
1    Afghanistan             6         male       3.0        50.0
2    Afghanistan             6        trans       1.0        17.0
3        Albania            17      agender       1.0         6.0
4        Albania            17       female       1.0         6.0
..           ...           ...          ...       ...         ...
316        Yemen             2       female       1.0        50.0
317       Zambia             5       female       1.0        20.0
318       Zambia             5         male       4.0        80.0
319     Zimbabwe            11       female       1.0         9.0
320     Zimbabwe            11         male      10.0        91.0

[321 rows x 5 columns]

In [12]:
asl_df = pd.merge(merged_df, Country_age, how="outer", on="CountryLive")
asl_df = asl_df[["CountryLive","Participants","Gender","Percentage","Age"]]
asl_df

     CountryLive  Participants       Gender  Percentage   Age
0    Afghanistan             6  genderqueer        17.0  20.0
1    Afghanistan             6         male        50.0  20.0
2    Afghanistan             6        trans        17.0  20.0
3        Albania            17      agender         6.0  23.0
4        Albania            17       female         6.0  23.0
..           ...           ...          ...         ...   ...
316        Yemen             2       female        50.0  10.0
317       Zambia             5       female        20.0  31.0
318       Zambia             5         male        80.0  31.0
319     Zimbabwe            11       female         9.0  26.0
320     Zimbabwe            11         male        91.0  26.0

[321 rows x 5 columns]

In [13]:
csvpath = "AllCountriesLatLong.csv"

latlong_df = pd.read_csv(csvpath)
latlong_df = latlong_df.rename(columns={"name": "CountryLive"})

asl_df = pd.merge(asl_df, latlong_df, how="inner", on="CountryLive")
asl_df

,CountryLive,Participants,Gender,Percentage,Age,latitude,longitude
0,Afghanistan,6,genderqueer,17.0,20.0,33.939110,67.709953
1,Afghanistan,6,male,50.0,20.0,33.939110,67.709953
2,Afghanistan,6,trans,17.0,20.0,33.939110,67.709953
3,Albania,17,agender,6.0,23.0,41.153332,20.168331
4,Albania,17,female,6.0,23.0,41.153332,20.168331
...,...,...,...,...,...,...,...
276,Yemen,2,female,50.0,10.0,15.552727,48.516388
277,Zambia,5,female,20.0,31.0,-13.133897,27.849332
278,Zambia,5,male,80.0,31.0,-13.133897,27.849332
279,Zimbabwe,11,female,9.0,26.0,-19.015438,29.154857
280,Zimbabwe,11,male,91.0,26.0,-19.015438,29.154857

In [14]:
cg_df = asl_df[["CountryLive","Gender","Percentage"]]
grouped_cg = cg_df.groupby(by=["CountryLive"])

In [24]:
al_df = asl_df[["CountryLive","Participants","Age", "latitude","longitude"]]
grouped_al = al_df.groupby(by=["CountryLive"]).mean()
grouped_al = grouped_al.reset_index()

transposed_al = grouped_al.transpose()
transposed_al_dict = transposed_al.to_dict()
transposed_al_dict

{0: {'CountryLive': 'Afghanistan',
  'Participants': 6,
  'Age': 20.0,
  'latitude': 33.93911,
  'longitude': 67.709953},
 1: {'CountryLive': 'Albania',
  'Participants': 17,
  'Age': 23.0,
  'latitude': 41.153332,
  'longitude': 20.168331},
 2: {'CountryLive': 'Algeria',
  'Participants': 21,
  'Age': 24.0,
  'latitude': 28.033886,
  'longitude': 1.6596259999999998},
 3: {'CountryLive': 'Angola',
  'Participants': 5,
  'Age': 25.0,
  'latitude': -11.202691999999999,
  'longitude': 17.873887},
 4: {'CountryLive': 'Anguilla',
  'Participants': 1,
  'Age': 25.0,
  'latitude': 18.220554,
  'longitude': -63.068615},
 5: {'CountryLive': 'Argentina',
  'Participants': 112,
  'Age': 28.0,
  'latitude': -38.416097,
  'longitude': -63.616671999999994},
 6: {'CountryLive': 'Armenia',
  'Participants': 2,
  'Age': 30.0,
  'latitude': 40.069099,
  'longitude': 45.038189},
 7: {'CountryLive': 'Aruba',
  'Participants': 1,
  'Age': 19.0,
  'latitude': 12.52111,
  'longitude': -69.968338},
 8: {'CountryLive': 'Australia',
  'Participants': 255,
  'Age': 29.0,
  'latitude': -25.274398,
  'longitude': 133.775136},
 9: {'CountryLive': 'Austria',
  'Participants': 43,
  'Age': 26.0,
  'latitude': 47.516231,
  'longitude': 14.550072},
 10: {'CountryLive': 'Azerbaijan',
  'Participants': 10,
  'Age': 26.0,
  'latitude': 40.143105,
  'longitude': 47.576927000000005},
 11: {'CountryLive': 'Bahrain',
  'Participants': 4,
  'Age': 18.0,
  'latitude': 25.930414000000003,
  'longitude': 50.637772},
 12: {'CountryLive': 'Bangladesh',
  'Participants': 70,
  'Age': 24.0,
  'latitude': 23.684994,
  'longitude': 90.35633100000001},
 13: {'CountryLive': 'Barbados',
  'Participants': 1,
  'Age': 22.0,
  'latitude': 13.193887,
  'longitude': -59.543198},
 14: {'CountryLive': 'Belarus',
  'Participants': 38,
  'Age': 27.0,
  'latitude': 53.709807,
  'longitude': 27.953389},
 15: {'CountryLive': 'Belgium',
  'Participants': 45,
  'Age': 27.0,
  'latitude': 50.503887,
  'longitude': 4.469936},
 16: {'CountryLive': 'Belize',
  'Participants': 3,
  'Age': 21.0,
  'latitude': 17.189877,
  'longitude': -88.49765},
 17: {'CountryLive': 'Benin',
  'Participants': 2,
  'Age': 26.0,
  'latitude': 9.30769,
  'longitude': 2.315834},
 18: {'CountryLive': 'Bermuda',
  'Participants': 1,
  'Age': 37.0,
  'latitude': 32.321384,
  'longitude': -64.75737},
 19: {'CountryLive': 'Bolivia',
  'Participants': 6,
  'Age': 28.0,
  'latitude': -16.290154,
  'longitude': -63.588653},
 20: {'CountryLive': 'Botswana',
  'Participants': 1,
  'Age': 23.0,
  'latitude': -22.328474,
  'longitude': 24.684866},
 21: {'CountryLive': 'Brazil',
  'Participants': 363,
  'Age': 26.0,
  'latitude': -14.235004,
  'longitude': -51.92528},
 22: {'CountryLive': 'Brunei',
  'Participants': 2,
  'Age': 27.0,
  'latitude': 4.535277,
  'longitude': 114.72766899999999},
 23: {'CountryLive': 'Bulgaria',
  'Participants': 48,
  'Age': 26.0,
  'latitude': 42.733883,
  'longitude': 25.48583},
 24: {'CountryLive': 'Burundi',
  'Participants': 1,
  'Age': 30.0,
  'latitude': -3.3730559999999996,
  'longitude': 29.918885999999997},
 25: {'CountryLive': 'Cambodia',
  'Participants': 9,
  'Age': 24.0,
  'latitude': 12.565679,
  'longitude': 104.990963},
 26: {'CountryLive': 'Cameroon',
  'Participants': 7,
  'Age': 24.0,
  'latitude': 7.369722,
  'longitude': 12.354722},
 27: {'CountryLive': 'Canada',
  'Participants': 604,
  'Age': 28.0,
  'latitude': 56.130366,
  'longitude': -106.34677099999999},
 28: {'CountryLive': 'Cayman Islands',
  'Participants': 2,
  'Age': 33.0,
  'latitude': 19.513469,
  'longitude': -80.566956},
 29: {'CountryLive': 'Chile',
  'Participants': 32,
  'Age': 27.0,
  'latitude': -35.675146999999996,
  'longitude': -71.542969},
 30: {'CountryLive': 'China',
  'Participants': 90,
  'Age': 26.0,
  'latitude': 35.86166,
  'longitude': 104.195397},
 31: {'CountryLive': 'Colombia',
  'Participants': 60,
  'Age': 28.0,
  'latitude': 4.570868,
  'longitude': -74.297333},
 32: {'CountryLive': 'Costa Rica',
  'Participants': 13,
  'Age': 26.0,
  'latitude': 9.748917,
  'longitude': -83.753428},
 33: {'CountryLive': 'Croatia',
  'Participants': 62,
  'Age': 29.0,
  'latitude': 45.1,
  'longitude': 15.2},
 34: {'CountryLive': 'Cuba',
  'Participants': 3,
  'Age': 25.0,
  'latitude': 21.521757,
  'longitude': -77.78116700000001},
 35: {'CountryLive': 'Cyprus',
  'Participants': 8,
  'Age': 32.0,
  'latitude': 35.126413,
  'longitude': 33.429859},
 36: {'CountryLive': 'Czech Republic',
  'Participants': 71,
  'Age': 26.0,
  'latitude': 49.817491999999994,
  'longitude': 15.472962},
 37: {'CountryLive': 'Denmark',
  'Participants': 58,
  'Age': 28.0,
  'latitude': 56.26392,
  'longitude': 9.501785},
 38: {'CountryLive': 'Dominica',
  'Participants': 3,
  'Age': 30.0,
  'latitude': 15.414999,
  'longitude': -61.370976},
 39: {'CountryLive': 'Dominican Republic',
  'Participants': 32,
  'Age': 23.0,
  'latitude': 18.735692999999998,
  'longitude': -70.162651},
 40: {'CountryLive': 'Ecuador',
  'Participants': 10,
  'Age': 26.0,
  'latitude': -1.8312389999999998,
  'longitude': -78.183406},
 41: {'CountryLive': 'Egypt',
  'Participants': 87,
  'Age': 24.0,
  'latitude': 26.820553000000004,
  'longitude': 30.802497999999996},
 42: {'CountryLive': 'El Salvador',
  'Participants': 5,
  'Age': 30.0,
  'latitude': 13.794185,
  'longitude': -88.89653},
 43: {'CountryLive': 'Estonia',
  'Participants': 24,
  'Age': 26.0,
  'latitude': 58.595271999999994,
  'longitude': 25.013607},
 44: {'CountryLive': 'Ethiopia',
  'Participants': 2,
  'Age': 22.0,
  'latitude': 9.145,
  'longitude': 40.489672999999996},
 45: {'CountryLive': 'Finland',
  'Participants': 55,
  'Age': 30.0,
  'latitude': 61.92411,
  'longitude': 25.748151},
 46: {'CountryLive': 'France',
  'Participants': 226,
  'Age': 29.0,
  'latitude': 46.22763799999999,
  'longitude': 2.213749},
 47: {'CountryLive': 'Gabon',
  'Participants': 1,
  'Age': 26.0,
  'latitude': -0.803689,
  'longitude': 11.609444},
 48: {'CountryLive': 'Gambia',
  'Participants': 3,
  'Age': 25.0,
  'latitude': 13.443182,
  'longitude': -15.310139000000001},
 49: {'CountryLive': 'Georgia',
  'Participants': 11,
  'Age': 24.0,
  'latitude': 42.315407,
  'longitude': 43.356891999999995},
 50: {'CountryLive': 'Germany',
  'Participants': 322,
  'Age': 27.0,
  'latitude': 51.165690999999995,
  'longitude': 10.451526},
 51: {'CountryLive': 'Ghana',
  'Participants': 29,
  'Age': 25.0,
  'latitude': 7.946527000000001,
  'longitude': -1.0231940000000002},
 52: {'CountryLive': 'Gibraltar',
  'Participants': 1,
  'Age': 19.0,
  'latitude': 36.137741,
  'longitude': -5.345374},
 53: {'CountryLive': 'Greece',
  'Participants': 116,
  'Age': 28.0,
  'latitude': 39.074208,
  'longitude': 21.824312},
 55: {'CountryLive': 'Guadeloupe',
  'Participants': 1,
  'Age': 32.0,
  'latitude': 16.995971,
  'longitude': -62.067641},
 56: {'CountryLive': 'Guam',
  'Participants': 3,
  'Age': 35.0,
  'latitude': 13.444304,
  'longitude': 144.793731},
 57: {'CountryLive': 'Guatemala',
  'Participants': 6,
  'Age': 29.0,
  'latitude': 15.783470999999999,
  'longitude': -90.23075899999999},
 58: {'CountryLive': 'Haiti',
  'Participants': 3,
  'Age': 27.0,
  'latitude': 18.971187,
  'longitude': -72.28521500000001},
 59: {'CountryLive': 'Honduras',
  'Participants': 3,
  'Age': 24.0,
  'latitude': 15.199998999999998,
  'longitude': -86.241905},
 60: {'CountryLive': 'Hong Kong',
  'Participants': 25,
  'Age': 26.0,
  'latitude': 22.396428,
  'longitude': 114.10949699999999},
 61: {'CountryLive': 'Hungary',
  'Participants': 77,
  'Age': 27.0,
  'latitude': 47.162494,
  'longitude': 19.503304},
 62: {'CountryLive': 'Iceland',
  'Participants': 5,
  'Age': 24.0,
  'latitude': 64.96305100000001,
  'longitude': -19.020835},
 63: {'CountryLive': 'India',
  'Participants': 1385,
  'Age': 23.0,
  'latitude': 20.593684,
  'longitude': 78.96288},
 64: {'CountryLive': 'Indonesia',
  'Participants': 89,
  'Age': 24.0,
  'latitude': -0.789275,
  'longitude': 113.921327},
 65: {'CountryLive': 'Iran',
  'Participants': 19,
  'Age': 25.0,
  'latitude': 32.427908,
  'longitude': 53.68804599999999},
 66: {'CountryLive': 'Iraq',
  'Participants': 5,
  'Age': 27.0,
  'latitude': 33.223191,
  'longitude': 43.679291},
 67: {'CountryLive': 'Ireland',
  'Participants': 74,
  'Age': 32.0,
  'latitude': 53.41291,
  'longitude': -8.243889999999999},
 68: {'CountryLive': 'Isle of Man',
  'Participants': 1,
  'Age': 27.0,
  'latitude': 54.236107,
  'longitude': -4.548056},
 69: {'CountryLive': 'Israel',
  'Participants': 73,
  'Age': 28.0,
  'latitude': 31.046051000000002,
  'longitude': 34.851612},
 70: {'CountryLive': 'Italy',
  'Participants': 164,
  'Age': 29.0,
  'latitude': 41.87194,
  'longitude': 12.56738},
 71: {'CountryLive': 'Jamaica',
  'Participants': 15,
  'Age': 28.0,
  'latitude': 18.109581,
  'longitude': -77.297508},
 72: {'CountryLive': 'Japan',
  'Participants': 58,
  'Age': 29.0,
  'latitude': 36.204824,
  'longitude': 138.252924},
 73: {'CountryLive': 'Jordan',
  'Participants': 6,
  'Age': 24.0,
  'latitude': 30.585164000000002,
  'longitude': 36.238414},
 74: {'CountryLive': 'Kazakhstan',
  'Participants': 31,
  'Age': 25.0,
  'latitude': 48.019573,
  'longitude': 66.923684},
 75: {'CountryLive': 'Kenya',
  'Participants': 89,
  'Age': 25.0,
  'latitude': -0.023559,
  'longitude': 37.906193},
 76: {'CountryLive': 'Kuwait',
  'Participants': 1,
  'Age': 28.0,
  'latitude': 29.311659999999996,
  'longitude': 47.481766},
 77: {'CountryLive': 'Kyrgyzstan',
  'Participants': 3,
  'Age': 29.0,
  'latitude': 41.20438,
  'longitude': 74.766098},
 78: {'CountryLive': 'Latvia',
  'Participants': 24,
  'Age': 26.0,
  'latitude': 56.879635,
  'longitude': 24.603189},
 79: {'CountryLive': 'Lebanon',
  'Participants': 5,
  'Age': 24.0,
  'latitude': 33.854721000000005,
  'longitude': 35.862285},
 80: {'CountryLive': 'Liberia',
  'Participants': 1,
  'Age': 26.0,
  'latitude': 6.4280550000000005,
  'longitude': -9.429499},
 81: {'CountryLive': 'Lithuania',
  'Participants': 44,
  'Age': 25.0,
  'latitude': 55.169438,
  'longitude': 23.881275},
 82: {'CountryLive': 'Luxembourg',
  'Participants': 14,
  'Age': 27.0,
  'latitude': 49.815273,
  'longitude': 6.129583},
 83: {'CountryLive': 'Madagascar',
  'Participants': 1,
  'Age': 30.0,
  'latitude': -18.766947000000002,
  'longitude': 46.869107},
 84: {'CountryLive': 'Malawi',
  'Participants': 2,
  'Age': 26.0,
  'latitude': -13.254307999999998,
  'longitude': 34.301525},
 85: {'CountryLive': 'Malaysia',
  'Participants': 65,
  'Age': 25.0,
  'latitude': 4.210483999999999,
  'longitude': 101.97576600000001},
 86: {'CountryLive': 'Maldives',
  'Participants': 4,
  'Age': 24.0,
  'latitude': 3.202778,
  'longitude': 73.22068},
 87: {'CountryLive': 'Malta',
  'Participants': 6,
  'Age': 28.0,
  'latitude': 35.937496,
  'longitude': 14.375416},
 88: {'CountryLive': 'Martinique',
  'Participants': 1,
  'Age': 41.0,
  'latitude': 14.641528,
  'longitude': -61.024174},
 89: {'CountryLive': 'Mauritius',
  'Participants': 5,
  'Age': 25.0,
  'latitude': -20.348404000000002,
  'longitude': 57.552152},
 90: {'CountryLive': 'Mexico',
  'Participants': 154,
  'Age': 27.0,
  'latitude': 23.634501,
  'longitude': -102.552784},
 91: {'CountryLive': 'Moldova',
  'Participants': 13,
  'Age': 25.0,
  'latitude': 47.411631,
  'longitude': 28.369884999999996},
 92: {'CountryLive': 'Mongolia',
  'Participants': 2,
  'Age': 31.0,
  'latitude': 46.862496,
  'longitude': 103.84665600000001},
 93: {'CountryLive': 'Morocco',
  'Participants': 35,
  'Age': 26.0,
  'latitude': 31.791702,
  'longitude': -7.09262},
 94: {'CountryLive': 'Mozambique',
  'Participants': 4,
  'Age': 28.0,
  'latitude': -18.665695,
  'longitude': 35.529562},
 95: {'CountryLive': 'Nepal',
  'Participants': 41,
  'Age': 22.0,
  'latitude': 28.394857000000002,
  'longitude': 84.12400799999999},
 96: {'CountryLive': 'New Caledonia',
  'Participants': 1,
  'Age': 18.0,
  'latitude': -20.904304999999997,
  'longitude': 165.618042},
 97: {'CountryLive': 'New Zealand',
  'Participants': 70,
  'Age': 29.0,
  'latitude': -40.900557,
  'longitude': 174.885971},
 98: {'CountryLive': 'Nicaragua',
  'Participants': 4,
  'Age': 26.0,
  'latitude': 12.865416,
  'longitude': -85.207229},
 99: {'CountryLive': 'Niger',
  'Participants': 5,
  'Age': 22.0,
  'latitude': 17.607789,
  'longitude': 8.081666},
 100: {'CountryLive': 'Nigeria',
  'Participants': 208,
  'Age': 25.0,
  'latitude': 9.081999,
  'longitude': 8.675277000000001},
 101: {'CountryLive': 'Norway',
  'Participants': 65,
  'Age': 28.0,
  'latitude': 60.472024,
  'longitude': 8.468946},
 102: {'CountryLive': 'Pakistan',
  'Participants': 108,
  'Age': 23.0,
  'latitude': 30.375321000000003,
  'longitude': 69.345116},
 103: {'CountryLive': 'Panama',
  'Participants': 7,
  'Age': 23.0,
  'latitude': 8.537981,
  'longitude': -80.782127},
 104: {'CountryLive': 'Papua New Guinea',
  'Participants': 3,
  'Age': 46.0,
  'latitude': -6.314993,
  'longitude': 143.95555},
 105: {'CountryLive': 'Paraguay',
  'Participants': 7,
  'Age': 27.0,
  'latitude': -23.442503,
  'longitude': -58.44383199999999},
 106: {'CountryLive': 'Peru',
  'Participants': 18,
  'Age': 26.0,
  'latitude': -9.189967,
  'longitude': -75.015152},
 107: {'CountryLive': 'Philippines',
  'Participants': 134,
  'Age': 25.0,
  'latitude': 12.879721,
  'longitude': 121.77401699999999},
 108: {'CountryLive': 'Poland',
  'Participants': 262,
  'Age': 26.0,
  'latitude': 51.919438,
  'longitude': 19.145135999999997},
 109: {'CountryLive': 'Portugal',
  'Participants': 67,
  'Age': 29.0,
  'latitude': 39.399871999999995,
  'longitude': -8.224454},
 110: {'CountryLive': 'Puerto Rico',
  'Participants': 15,
  'Age': 27.0,
  'latitude': 18.220833,
  'longitude': -66.590149},
 111: {'CountryLive': 'Qatar',
  'Participants': 5,
  'Age': 25.0,
  'latitude': 25.354826,
  'longitude': 51.183884},
 112: {'CountryLive': 'Romania',
  'Participants': 171,
  'Age': 26.0,
  'latitude': 45.943160999999996,
  'longitude': 24.96676},
 113: {'CountryLive': 'Russia',
  'Participants': 263,
  'Age': 27.0,
  'latitude': 61.52401,
  'longitude': 105.31875600000001},
 114: {'CountryLive': 'Rwanda',
  'Participants': 1,
  'Age': 18.0,
  'latitude': -1.940278,
  'longitude': 29.873888},
 115: {'CountryLive': 'Samoa',
  'Participants': 1,
  'Age': 22.0,
  'latitude': -13.759029,
  'longitude': -172.10462900000002},
 116: {'CountryLive': 'Saudi Arabia',
  'Participants': 23,
  'Age': 27.0,
  'latitude': 23.885942,
  'longitude': 45.079162},
 117: {'CountryLive': 'Senegal',
  'Participants': 7,
  'Age': 28.0,
  'latitude': 14.497401000000002,
  'longitude': -14.452361999999999},
 118: {'CountryLive': 'Serbia',
  'Participants': 115,
  'Age': 28.0,
  'latitude': 44.016521000000004,
  'longitude': 21.005859},
 119: {'CountryLive': 'Sierra Leone',
  'Participants': 1,
  'Age': 25.0,
  'latitude': 8.460555000000001,
  'longitude': -11.779889},
 120: {'CountryLive': 'Singapore',
  'Participants': 74,
  'Age': 25.0,
  'latitude': 1.3520829999999997,
  'longitude': 103.819836},
 121: {'CountryLive': 'Slovakia',
  'Participants': 20,
  'Age': 26.0,
  'latitude': 48.669026,
  'longitude': 19.699023999999998},
 122: {'CountryLive': 'Slovenia',
  'Participants': 28,
  'Age': 27.0,
  'latitude': 46.151241,
  'longitude': 14.995463},
 123: {'CountryLive': 'Somalia',
  'Participants': 3,
  'Age': 24.0,
  'latitude': 5.152149,
  'longitude': 46.199616},
 124: {'CountryLive': 'South Africa',
  'Participants': 126,
  'Age': 28.0,
  'latitude': -30.559482,
  'longitude': 22.937506},
 125: {'CountryLive': 'Spain',
  'Participants': 215,
  'Age': 29.0,
  'latitude': 40.463667,
  'longitude': -3.7492199999999998},
 126: {'CountryLive': 'Sri Lanka',
  'Participants': 16,
  'Age': 25.0,
  'latitude': 7.873054,
  'longitude': 80.77179699999999},
 127: {'CountryLive': 'Sudan',
  'Participants': 1,
  'Age': 19.0,
  'latitude': 12.862807,
  'longitude': 30.217636},
 128: {'CountryLive': 'Swaziland',
  'Participants': 3,
  'Age': 35.0,
  'latitude': -26.522503000000004,
  'longitude': 31.465866},
 129: {'CountryLive': 'Sweden',
  'Participants': 80,
  'Age': 27.0,
  'latitude': 60.128161,
  'longitude': 18.643501},
 130: {'CountryLive': 'Switzerland',
  'Participants': 42,
  'Age': 30.0,
  'latitude': 46.818188,
  'longitude': 8.227511999999999},
 131: {'CountryLive': 'Taiwan',
  'Participants': 31,
  'Age': 28.0,
  'latitude': 23.69781,
  'longitude': 120.96051499999999},
 132: {'CountryLive': 'Tajikistan',
  'Participants': 1,
  'Age': 30.0,
  'latitude': 38.861034000000004,
  'longitude': 71.276093},
 133: {'CountryLive': 'Tanzania',
  'Participants': 2,
  'Age': 29.0,
  'latitude': -6.369028,
  'longitude': 34.888822},
 134: {'CountryLive': 'Thailand',
  'Participants': 30,
  'Age': 26.0,
  'latitude': 15.870032,
  'longitude': 100.992541},
 135: {'CountryLive': 'Tunisia',
  'Participants': 16,
  'Age': 21.0,
  'latitude': 33.886917,
  'longitude': 9.537499},
 136: {'CountryLive': 'Turkey',
  'Participants': 118,
  'Age': 27.0,
  'latitude': 38.963745,
  'longitude': 35.243322},
 137: {'CountryLive': 'Turkmenistan',
  'Participants': 2,
  'Age': 28.0,
  'latitude': 38.969719,
  'longitude': 59.556278000000006},
 138: {'CountryLive': 'Uganda',
  'Participants': 8,
  'Age': 24.0,
  'latitude': 1.373333,
  'longitude': 32.290275},
 139: {'CountryLive': 'Ukraine',
  'Participants': 201,
  'Age': 26.0,
  'latitude': 48.379433,
  'longitude': 31.16558},
 140: {'CountryLive': 'United Arab Emirates',
  'Participants': 38,
  'Age': 27.0,
  'latitude': 23.424076,
  'longitude': 53.847818000000004},
 141: {'CountryLive': 'United Kingdom',
  'Participants': 748,
  'Age': 29.0,
  'latitude': 55.378051000000006,
  'longitude': -3.4359729999999997},
 142: {'CountryLive': 'Uruguay',
  'Participants': 20,
  'Age': 28.0,
  'latitude': -32.522779,
  'longitude': -55.765834999999996},
 143: {'CountryLive': 'Uzbekistan',
  'Participants': 6,
  'Age': 21.0,
  'latitude': 41.377491,
  'longitude': 64.585262},
 144: {'CountryLive': 'Vanuatu',
  'Participants': 1,
  'Age': 28.0,
  'latitude': -15.376706,
  'longitude': 166.959158},
 145: {'CountryLive': 'Venezuela',
  'Participants': 56,
  'Age': 25.0,
  'latitude': 6.42375,
  'longitude': -66.58973},
 146: {'CountryLive': 'Vietnam',
  'Participants': 71,
  'Age': 23.0,
  'latitude': 14.058323999999999,
  'longitude': 108.277199},
 147: {'CountryLive': 'Yemen',
  'Participants': 2,
  'Age': 10.0,
  'latitude': 15.552726999999999,
  'longitude': 48.516388},
 148: {'CountryLive': 'Zambia',
  'Participants': 5,
  'Age': 31.0,
  'latitude': -13.133897,
  'longitude': 27.849332},
 149: {'CountryLive': 'Zimbabwe',
  'Participants': 11,
  'Age': 26.0,
  'latitude': -19.015438,
  'longitude': 29.154857}}

In [152]:
al_df = asl_df[["CountryLive","Participants","Age", "latitude","longitude"]]
grouped_al = al_df.groupby(by=["CountryLive"]).mean()
transposed = grouped_al.transpose()
transposed_dict = transposed.to_dict()
transposed_dict

{'Afghanistan': {'Participants': 6.0,
  'Age': 20.0,
  'latitude': 33.93911,
  'longitude': 67.709953},
 'Albania': {'Participants': 17.0,
  'Age': 23.0,
  'latitude': 41.153332,
  'longitude': 20.168331},
 'Algeria': {'Participants': 21.0,
  'Age': 24.0,
  'latitude': 28.033886,
  'longitude': 1.6596259999999998},
 'Angola': {'Participants': 5.0,
  'Age': 25.0,
  'latitude': -11.202691999999999,
  'longitude': 17.873887},
 'Anguilla': {'Participants': 1.0,
  'Age': 25.0,
  'latitude': 18.220554,
  'longitude': -63.068615},
 'Argentina': {'Participants': 112.0,
  'Age': 28.0,
  'latitude': -38.416097,
  'longitude': -63.616671999999994},
 'Armenia': {'Participants': 2.0,
  'Age': 30.0,
  'latitude': 40.069099,
  'longitude': 45.038189},
 'Aruba': {'Participants': 1.0,
  'Age': 19.0,
  'latitude': 12.52111,
  'longitude': -69.968338},
 'Australia': {'Participants': 255.0,
  'Age': 29.0,
  'latitude': -25.274398,
  'longitude': 133.775136},
 'Austria': {'Participants': 43.0,
  'Age': 26.0,
  'latitude': 47.516231,
  'longitude': 14.550072},
 'Azerbaijan': {'Participants': 10.0,
  'Age': 26.0,
  'latitude': 40.143105,
  'longitude': 47.576927000000005},
 'Bahrain': {'Participants': 4.0,
  'Age': 18.0,
  'latitude': 25.930414000000003,
  'longitude': 50.637772},
 'Bangladesh': {'Participants': 70.0,
  'Age': 24.0,
  'latitude': 23.684994,
  'longitude': 90.35633100000001},
 'Barbados': {'Participants': 1.0,
  'Age': 22.0,
  'latitude': 13.193887,
  'longitude': -59.543198},
 'Belarus': {'Participants': 38.0,
  'Age': 27.0,
  'latitude': 53.709807,
  'longitude': 27.953389},
 'Belgium': {'Participants': 45.0,
  'Age': 27.0,
  'latitude': 50.503887,
  'longitude': 4.469936},
 'Belize': {'Participants': 3.0,
  'Age': 21.0,
  'latitude': 17.189877,
  'longitude': -88.49765},
 'Benin': {'Participants': 2.0,
  'Age': 26.0,
  'latitude': 9.30769,
  'longitude': 2.315834},
 'Bermuda': {'Participants': 1.0,
  'Age': 37.0,
  'latitude': 32.321384,
  'longitude': -64.75737},
 'Bolivia': {'Participants': 6.0,
  'Age': 28.0,
  'latitude': -16.290154,
  'longitude': -63.588653},
 'Botswana': {'Participants': 1.0,
  'Age': 23.0,
  'latitude': -22.328474,
  'longitude': 24.684866},
 'Brazil': {'Participants': 363.0,
  'Age': 26.0,
  'latitude': -14.235004,
  'longitude': -51.92528},
 'Brunei': {'Participants': 2.0,
  'Age': 27.0,
  'latitude': 4.535277,
  'longitude': 114.72766899999999},
 'Bulgaria': {'Participants': 48.0,
  'Age': 26.0,
  'latitude': 42.733883,
  'longitude': 25.48583},
 'Burundi': {'Participants': 1.0,
  'Age': 30.0,
  'latitude': -3.3730559999999996,
  'longitude': 29.918885999999997},
 'Cambodia': {'Participants': 9.0,
  'Age': 24.0,
  'latitude': 12.565679,
  'longitude': 104.990963},
 'Cameroon': {'Participants': 7.0,
  'Age': 24.0,
  'latitude': 7.369722,
  'longitude': 12.354722},
 'Canada': {'Participants': 604.0,
  'Age': 28.0,
  'latitude': 56.130366,
  'longitude': -106.34677099999999},
 'Cayman Islands': {'Participants': 2.0,
  'Age': 33.0,
  'latitude': 19.513469,
  'longitude': -80.566956},
 'Chile': {'Participants': 32.0,
  'Age': 27.0,
  'latitude': -35.675146999999996,
  'longitude': -71.542969},
 'China': {'Participants': 90.0,
  'Age': 26.0,
  'latitude': 35.86166,
  'longitude': 104.195397},
 'Colombia': {'Participants': 60.0,
  'Age': 28.0,
  'latitude': 4.570868,
  'longitude': -74.297333},
 'Costa Rica': {'Participants': 13.0,
  'Age': 26.0,
  'latitude': 9.748917,
  'longitude': -83.753428},
 'Croatia': {'Participants': 62.0,
  'Age': 29.0,
  'latitude': 45.1,
  'longitude': 15.2},
 'Cuba': {'Participants': 3.0,
  'Age': 25.0,
  'latitude': 21.521757,
  'longitude': -77.78116700000001},
 'Cyprus': {'Participants': 8.0,
  'Age': 32.0,
  'latitude': 35.126413,
  'longitude': 33.429859},
 'Czech Republic': {'Participants': 71.0,
  'Age': 26.0,
  'latitude': 49.817491999999994,
  'longitude': 15.472962},
 'Denmark': {'Participants': 58.0,
  'Age': 28.0,
  'latitude': 56.26392,
  'longitude': 9.501785},
 'Dominica': {'Participants': 3.0,
  'Age': 30.0,
  'latitude': 15.414999,
  'longitude': -61.370976},
 'Dominican Republic': {'Participants': 32.0,
  'Age': 23.0,
  'latitude': 18.735692999999998,
  'longitude': -70.162651},
 'Ecuador': {'Participants': 10.0,
  'Age': 26.0,
  'latitude': -1.8312389999999998,
  'longitude': -78.183406},
 'Egypt': {'Participants': 87.0,
  'Age': 24.0,
  'latitude': 26.820553000000004,
  'longitude': 30.802497999999996},
 'El Salvador': {'Participants': 5.0,
  'Age': 30.0,
  'latitude': 13.794185,
  'longitude': -88.89653},
 'Estonia': {'Participants': 24.0,
  'Age': 26.0,
  'latitude': 58.595271999999994,
  'longitude': 25.013607},
 'Ethiopia': {'Participants': 2.0,
  'Age': 22.0,
  'latitude': 9.145,
  'longitude': 40.489672999999996},
 'Finland': {'Participants': 55.0,
  'Age': 30.0,
  'latitude': 61.92411,
  'longitude': 25.748151},
 'France': {'Participants': 226.0,
  'Age': 29.0,
  'latitude': 46.22763799999999,
  'longitude': 2.213749},
 'Gabon': {'Participants': 1.0,
  'Age': 26.0,
  'latitude': -0.803689,
  'longitude': 11.609444},
 'Gambia': {'Participants': 3.0,
  'Age': 25.0,
  'latitude': 13.443182,
  'longitude': -15.310139000000001},
 'Georgia': {'Participants': 11.0,
  'Age': 24.0,
  'latitude': 42.315407,
  'longitude': 43.356891999999995},
 'Germany': {'Participants': 322.0,
  'Age': 27.0,
  'latitude': 51.165690999999995,
  'longitude': 10.451526},
 'Ghana': {'Participants': 29.0,
  'Age': 25.0,
  'latitude': 7.946527000000001,
  'longitude': -1.0231940000000002},
 'Gibraltar': {'Participants': 1.0,
  'Age': 19.0,
  'latitude': 36.137741,
  'longitude': -5.345374},
 'Greece': {'Participants': 116.0,
  'Age': 28.0,
  'latitude': 39.074208,
  'longitude': 21.824312},
 'Greenland': {'Participants': 0.0,
  'Age': nan,
  'latitude': 71.706936,
  'longitude': -42.604303},
 'Guadeloupe': {'Participants': 1.0,
  'Age': 32.0,
  'latitude': 16.995971,
  'longitude': -62.067641},
 'Guam': {'Participants': 3.0,
  'Age': 35.0,
  'latitude': 13.444304,
  'longitude': 144.793731},
 'Guatemala': {'Participants': 6.0,
  'Age': 29.0,
  'latitude': 15.783470999999999,
  'longitude': -90.23075899999999},
 'Haiti': {'Participants': 3.0,
  'Age': 27.0,
  'latitude': 18.971187,
  'longitude': -72.28521500000001},
 'Honduras': {'Participants': 3.0,
  'Age': 24.0,
  'latitude': 15.199998999999998,
  'longitude': -86.241905},
 'Hong Kong': {'Participants': 25.0,
  'Age': 26.0,
  'latitude': 22.396428,
  'longitude': 114.10949699999999},
 'Hungary': {'Participants': 77.0,
  'Age': 27.0,
  'latitude': 47.162494,
  'longitude': 19.503304},
 'Iceland': {'Participants': 5.0,
  'Age': 24.0,
  'latitude': 64.96305100000001,
  'longitude': -19.020835},
 'India': {'Participants': 1385.0,
  'Age': 23.0,
  'latitude': 20.593684,
  'longitude': 78.96288},
 'Indonesia': {'Participants': 89.0,
  'Age': 24.0,
  'latitude': -0.789275,
  'longitude': 113.921327},
 'Iran': {'Participants': 19.0,
  'Age': 25.0,
  'latitude': 32.427908,
  'longitude': 53.68804599999999},
 'Iraq': {'Participants': 5.0,
  'Age': 27.0,
  'latitude': 33.223191,
  'longitude': 43.679291},
 'Ireland': {'Participants': 74.0,
  'Age': 32.0,
  'latitude': 53.41291,
  'longitude': -8.243889999999999},
 'Isle of Man': {'Participants': 1.0,
  'Age': 27.0,
  'latitude': 54.236107,
  'longitude': -4.548056},
 'Israel': {'Participants': 73.0,
  'Age': 28.0,
  'latitude': 31.046051000000002,
  'longitude': 34.851612},
 'Italy': {'Participants': 164.0,
  'Age': 29.0,
  'latitude': 41.87194,
  'longitude': 12.56738},
 'Jamaica': {'Participants': 15.0,
  'Age': 28.0,
  'latitude': 18.109581,
  'longitude': -77.297508},
 'Japan': {'Participants': 58.0,
  'Age': 29.0,
  'latitude': 36.204824,
  'longitude': 138.252924},
 'Jordan': {'Participants': 6.0,
  'Age': 24.0,
  'latitude': 30.585164000000002,
  'longitude': 36.238414},
 'Kazakhstan': {'Participants': 31.0,
  'Age': 25.0,
  'latitude': 48.019573,
  'longitude': 66.923684},
 'Kenya': {'Participants': 89.0,
  'Age': 25.0,
  'latitude': -0.023559,
  'longitude': 37.906193},
 'Kuwait': {'Participants': 1.0,
  'Age': 28.0,
  'latitude': 29.311659999999996,
  'longitude': 47.481766},
 'Kyrgyzstan': {'Participants': 3.0,
  'Age': 29.0,
  'latitude': 41.20438,
  'longitude': 74.766098},
 'Latvia': {'Participants': 24.0,
  'Age': 26.0,
  'latitude': 56.879635,
  'longitude': 24.603189},
 'Lebanon': {'Participants': 5.0,
  'Age': 24.0,
  'latitude': 33.854721000000005,
  'longitude': 35.862285},
 'Liberia': {'Participants': 1.0,
  'Age': 26.0,
  'latitude': 6.4280550000000005,
  'longitude': -9.429499},
 'Lithuania': {'Participants': 44.0,
  'Age': 25.0,
  'latitude': 55.169438,
  'longitude': 23.881275},
 'Luxembourg': {'Participants': 14.0,
  'Age': 27.0,
  'latitude': 49.815273,
  'longitude': 6.129583},
 'Madagascar': {'Participants': 1.0,
  'Age': 30.0,
  'latitude': -18.766947000000002,
  'longitude': 46.869107},
 'Malawi': {'Participants': 2.0,
  'Age': 26.0,
  'latitude': -13.254307999999998,
  'longitude': 34.301525},
 'Malaysia': {'Participants': 65.0,
  'Age': 25.0,
  'latitude': 4.210483999999999,
  'longitude': 101.97576600000001},
 'Maldives': {'Participants': 4.0,
  'Age': 24.0,
  'latitude': 3.202778,
  'longitude': 73.22068},
 'Malta': {'Participants': 6.0,
  'Age': 28.0,
  'latitude': 35.937496,
  'longitude': 14.375416},
 'Martinique': {'Participants': 1.0,
  'Age': 41.0,
  'latitude': 14.641528,
  'longitude': -61.024174},
 'Mauritius': {'Participants': 5.0,
  'Age': 25.0,
  'latitude': -20.348404000000002,
  'longitude': 57.552152},
 'Mexico': {'Participants': 154.0,
  'Age': 27.0,
  'latitude': 23.634501,
  'longitude': -102.552784},
 'Moldova': {'Participants': 13.0,
  'Age': 25.0,
  'latitude': 47.411631,
  'longitude': 28.369884999999996},
 'Mongolia': {'Participants': 2.0,
  'Age': 31.0,
  'latitude': 46.862496,
  'longitude': 103.84665600000001},
 'Morocco': {'Participants': 35.0,
  'Age': 26.0,
  'latitude': 31.791702,
  'longitude': -7.09262},
 'Mozambique': {'Participants': 4.0,
  'Age': 28.0,
  'latitude': -18.665695,
  'longitude': 35.529562},
 'Nepal': {'Participants': 41.0,
  'Age': 22.0,
  'latitude': 28.394857000000002,
  'longitude': 84.12400799999999},
 'New Caledonia': {'Participants': 1.0,
  'Age': 18.0,
  'latitude': -20.904304999999997,
  'longitude': 165.618042},
 'New Zealand': {'Participants': 70.0,
  'Age': 29.0,
  'latitude': -40.900557,
  'longitude': 174.885971},
 'Nicaragua': {'Participants': 4.0,
  'Age': 26.0,
  'latitude': 12.865416,
  'longitude': -85.207229},
 'Niger': {'Participants': 5.0,
  'Age': 22.0,
  'latitude': 17.607789,
  'longitude': 8.081666},
 'Nigeria': {'Participants': 208.0,
  'Age': 25.0,
  'latitude': 9.081999,
  'longitude': 8.675277000000001},
 'Norway': {'Participants': 65.0,
  'Age': 28.0,
  'latitude': 60.472024,
  'longitude': 8.468946},
 'Pakistan': {'Participants': 108.0,
  'Age': 23.0,
  'latitude': 30.375321000000003,
  'longitude': 69.345116},
 'Panama': {'Participants': 7.0,
  'Age': 23.0,
  'latitude': 8.537981,
  'longitude': -80.782127},
 'Papua New Guinea': {'Participants': 3.0,
  'Age': 46.0,
  'latitude': -6.314993,
  'longitude': 143.95555},
 'Paraguay': {'Participants': 7.0,
  'Age': 27.0,
  'latitude': -23.442503,
  'longitude': -58.44383199999999},
 'Peru': {'Participants': 18.0,
  'Age': 26.0,
  'latitude': -9.189967,
  'longitude': -75.015152},
 'Philippines': {'Participants': 134.0,
  'Age': 25.0,
  'latitude': 12.879721,
  'longitude': 121.77401699999999},
 'Poland': {'Participants': 262.0,
  'Age': 26.0,
  'latitude': 51.919438,
  'longitude': 19.145135999999997},
 'Portugal': {'Participants': 67.0,
  'Age': 29.0,
  'latitude': 39.399871999999995,
  'longitude': -8.224454},
 'Puerto Rico': {'Participants': 15.0,
  'Age': 27.0,
  'latitude': 18.220833,
  'longitude': -66.590149},
 'Qatar': {'Participants': 5.0,
  'Age': 25.0,
  'latitude': 25.354826,
  'longitude': 51.183884},
 'Romania': {'Participants': 171.0,
  'Age': 26.0,
  'latitude': 45.943160999999996,
  'longitude': 24.96676},
 'Russia': {'Participants': 263.0,
  'Age': 27.0,
  'latitude': 61.52401,
  'longitude': 105.31875600000001},
 'Rwanda': {'Participants': 1.0,
  'Age': 18.0,
  'latitude': -1.940278,
  'longitude': 29.873888},
 'Samoa': {'Participants': 1.0,
  'Age': 22.0,
  'latitude': -13.759029,
  'longitude': -172.10462900000002},
 'Saudi Arabia': {'Participants': 23.0,
  'Age': 27.0,
  'latitude': 23.885942,
  'longitude': 45.079162},
 'Senegal': {'Participants': 7.0,
  'Age': 28.0,
  'latitude': 14.497401000000002,
  'longitude': -14.452361999999999},
 'Serbia': {'Participants': 115.0,
  'Age': 28.0,
  'latitude': 44.016521000000004,
  'longitude': 21.005859},
 'Sierra Leone': {'Participants': 1.0,
  'Age': 25.0,
  'latitude': 8.460555000000001,
  'longitude': -11.779889},
 'Singapore': {'Participants': 74.0,
  'Age': 25.0,
  'latitude': 1.3520829999999997,
  'longitude': 103.819836},
 'Slovakia': {'Participants': 20.0,
  'Age': 26.0,
  'latitude': 48.669026,
  'longitude': 19.699023999999998},
 'Slovenia': {'Participants': 28.0,
  'Age': 27.0,
  'latitude': 46.151241,
  'longitude': 14.995463},
 'Somalia': {'Participants': 3.0,
  'Age': 24.0,
  'latitude': 5.152149,
  'longitude': 46.199616},
 'South Africa': {'Participants': 126.0,
  'Age': 28.0,
  'latitude': -30.559482,
  'longitude': 22.937506},
 'Spain': {'Participants': 215.0,
  'Age': 29.0,
  'latitude': 40.463667,
  'longitude': -3.7492199999999998},
 'Sri Lanka': {'Participants': 16.0,
  'Age': 25.0,
  'latitude': 7.873054,
  'longitude': 80.77179699999999},
 'Sudan': {'Participants': 1.0,
  'Age': 19.0,
  'latitude': 12.862807,
  'longitude': 30.217636},
 'Swaziland': {'Participants': 3.0,
  'Age': 35.0,
  'latitude': -26.522503000000004,
  'longitude': 31.465866},
 'Sweden': {'Participants': 80.0,
  'Age': 27.0,
  'latitude': 60.128161,
  'longitude': 18.643501},
 'Switzerland': {'Participants': 42.0,
  'Age': 30.0,
  'latitude': 46.818188,
  'longitude': 8.227511999999999},
 'Taiwan': {'Participants': 31.0,
  'Age': 28.0,
  'latitude': 23.69781,
  'longitude': 120.96051499999999},
 'Tajikistan': {'Participants': 1.0,
  'Age': 30.0,
  'latitude': 38.861034000000004,
  'longitude': 71.276093},
 'Tanzania': {'Participants': 2.0,
  'Age': 29.0,
  'latitude': -6.369028,
  'longitude': 34.888822},
 'Thailand': {'Participants': 30.0,
  'Age': 26.0,
  'latitude': 15.870032,
  'longitude': 100.992541},
 'Tunisia': {'Participants': 16.0,
  'Age': 21.0,
  'latitude': 33.886917,
  'longitude': 9.537499},
 'Turkey': {'Participants': 118.0,
  'Age': 27.0,
  'latitude': 38.963745,
  'longitude': 35.243322},
 'Turkmenistan': {'Participants': 2.0,
  'Age': 28.0,
  'latitude': 38.969719,
  'longitude': 59.556278000000006},
 'Uganda': {'Participants': 8.0,
  'Age': 24.0,
  'latitude': 1.373333,
  'longitude': 32.290275},
 'Ukraine': {'Participants': 201.0,
  'Age': 26.0,
  'latitude': 48.379433,
  'longitude': 31.16558},
 'United Arab Emirates': {'Participants': 38.0,
  'Age': 27.0,
  'latitude': 23.424076,
  'longitude': 53.847818000000004},
 'United Kingdom': {'Participants': 748.0,
  'Age': 29.0,
  'latitude': 55.378051000000006,
  'longitude': -3.4359729999999997},
 'Uruguay': {'Participants': 20.0,
  'Age': 28.0,
  'latitude': -32.522779,
  'longitude': -55.765834999999996},
 'Uzbekistan': {'Participants': 6.0,
  'Age': 21.0,
  'latitude': 41.377491,
  'longitude': 64.585262},
 'Vanuatu': {'Participants': 1.0,
  'Age': 28.0,
  'latitude': -15.376706,
  'longitude': 166.959158},
 'Venezuela': {'Participants': 56.0,
  'Age': 25.0,
  'latitude': 6.42375,
  'longitude': -66.58973},
 'Vietnam': {'Participants': 71.0,
  'Age': 23.0,
  'latitude': 14.058323999999999,
  'longitude': 108.277199},
 'Yemen': {'Participants': 2.0,
  'Age': 10.0,
  'latitude': 15.552726999999999,
  'longitude': 48.516388},
 'Zambia': {'Participants': 5.0,
  'Age': 31.0,
  'latitude': -13.133897,
  'longitude': 27.849332},
 'Zimbabwe': {'Participants': 11.0,
  'Age': 26.0,
  'latitude': -19.015438,
  'longitude': 29.154857}}

In [25]:
import json

json_object = json.dumps(transposed_al_dict, indent = 4)   
print(json_object)

{
    "0": {
        "CountryLive": "Afghanistan",
        "Participants": 6,
        "Age": 20.0,
        "latitude": 33.93911,
        "longitude": 67.709953
    },
    "1": {
        "CountryLive": "Albania",
        "Participants": 17,
        "Age": 23.0,
        "latitude": 41.153332,
        "longitude": 20.168331
    },
    "2": {
        "CountryLive": "Algeria",
        "Participants": 21,
        "Age": 24.0,
        "latitude": 28.033886,
        "longitude": 1.6596259999999998
    },
    "3": {
        "CountryLive": "Angola",
        "Participants": 5,
        "Age": 25.0,
        "latitude": -11.202691999999999,
        "longitude": 17.873887
    },
    "4": {
        "CountryLive": "Anguilla",
        "Participants": 1,
        "Age": 25.0,
        "latitude": 18.220554,
        "longitude": -63.068615
    },
    "5": {
        "CountryLive": "Argentina",
        "Participants": 112,
        "Age": 28.0,
        "latitude": -38.416097,
        "longitude": -63.616671999999994
    },
    "6": {
        "CountryLive": "Armenia",
        "Participants": 2,
        "Age": 30.0,
        "latitude": 40.069099,
        "longitude": 45.038189
    },
    "7": {
        "CountryLive": "Aruba",
        "Participants": 1,
        "Age": 19.0,
        "latitude": 12.52111,
        "longitude": -69.968338
    },
    "8": {
        "CountryLive": "Australia",
        "Participants": 255,
        "Age": 29.0,
        "latitude": -25.274398,
        "longitude": 133.775136
    },
    "9": {
        "CountryLive": "Austria",
        "Participants": 43,
        "Age": 26.0,
        "latitude": 47.516231,
        "longitude": 14.550072
    },
    "10": {
        "CountryLive": "Azerbaijan",
        "Participants": 10,
        "Age": 26.0,
        "latitude": 40.143105,
        "longitude": 47.576927000000005
    },
    "11": {
        "CountryLive": "Bahrain",
        "Participants": 4,
        "Age": 18.0,
        "latitude": 25.930414000000003,
        "longitude": 50.637772
    },
    "12": {
        "CountryLive": "Bangladesh",
        "Participants": 70,
        "Age": 24.0,
        "latitude": 23.684994,
        "longitude": 90.35633100000001
    },
    "13": {
        "CountryLive": "Barbados",
        "Participants": 1,
        "Age": 22.0,
        "latitude": 13.193887,
        "longitude": -59.543198
    },
    "14": {
        "CountryLive": "Belarus",
        "Participants": 38,
        "Age": 27.0,
        "latitude": 53.709807,
        "longitude": 27.953389
    },
    "15": {
        "CountryLive": "Belgium",
        "Participants": 45,
        "Age": 27.0,
        "latitude": 50.503887,
        "longitude": 4.469936
    },
    "16": {
        "CountryLive": "Belize",
        "Participants": 3,
        "Age": 21.0,
        "latitude": 17.189877,
        "longitude": -88.49765
    },
    "17": {
        "CountryLive": "Benin",
        "Participants": 2,
        "Age": 26.0,
        "latitude": 9.30769,
        "longitude": 2.315834
    },
    "18": {
        "CountryLive": "Bermuda",
        "Participants": 1,
        "Age": 37.0,
        "latitude": 32.321384,
        "longitude": -64.75737
    },
    "19": {
        "CountryLive": "Bolivia",
        "Participants": 6,
        "Age": 28.0,
        "latitude": -16.290154,
        "longitude": -63.588653
    },
    "20": {
        "CountryLive": "Botswana",
        "Participants": 1,
        "Age": 23.0,
        "latitude": -22.328474,
        "longitude": 24.684866
    },
    "21": {
        "CountryLive": "Brazil",
        "Participants": 363,
        "Age": 26.0,
        "latitude": -14.235004,
        "longitude": -51.92528
    },
    "22": {
        "CountryLive": "Brunei",
        "Participants": 2,
        "Age": 27.0,
        "latitude": 4.535277,
        "longitude": 114.72766899999999
    },
    "23": {
        "CountryLive": "Bulgaria",
        "Participants": 48,
        "Age": 26.0,
        "latitude": 42.733883,
        "longitude": 25.48583
    },
    "24": {
        "CountryLive": "Burundi",
        "Participants": 1,
        "Age": 30.0,
        "latitude": -3.3730559999999996,
        "longitude": 29.918885999999997
    },
    "25": {
        "CountryLive": "Cambodia",
        "Participants": 9,
        "Age": 24.0,
        "latitude": 12.565679,
        "longitude": 104.990963
    },
    "26": {
        "CountryLive": "Cameroon",
        "Participants": 7,
        "Age": 24.0,
        "latitude": 7.369722,
        "longitude": 12.354722
    },
    "27": {
        "CountryLive": "Canada",
        "Participants": 604,
        "Age": 28.0,
        "latitude": 56.130366,
        "longitude": -106.34677099999999
    },
    "28": {
        "CountryLive": "Cayman Islands",
        "Participants": 2,
        "Age": 33.0,
        "latitude": 19.513469,
        "longitude": -80.566956
    },
    "29": {
        "CountryLive": "Chile",
        "Participants": 32,
        "Age": 27.0,
        "latitude": -35.675146999999996,
        "longitude": -71.542969
    },
    "30": {
        "CountryLive": "China",
        "Participants": 90,
        "Age": 26.0,
        "latitude": 35.86166,
        "longitude": 104.195397
    },
    "31": {
        "CountryLive": "Colombia",
        "Participants": 60,
        "Age": 28.0,
        "latitude": 4.570868,
        "longitude": -74.297333
    },
    "32": {
        "CountryLive": "Costa Rica",
        "Participants": 13,
        "Age": 26.0,
        "latitude": 9.748917,
        "longitude": -83.753428
    },
    "33": {
        "CountryLive": "Croatia",
        "Participants": 62,
        "Age": 29.0,
        "latitude": 45.1,
        "longitude": 15.2
    },
    "34": {
        "CountryLive": "Cuba",
        "Participants": 3,
        "Age": 25.0,
        "latitude": 21.521757,
        "longitude": -77.78116700000001
    },
    "35": {
        "CountryLive": "Cyprus",
        "Participants": 8,
        "Age": 32.0,
        "latitude": 35.126413,
        "longitude": 33.429859
    },
    "36": {
        "CountryLive": "Czech Republic",
        "Participants": 71,
        "Age": 26.0,
        "latitude": 49.817491999999994,
        "longitude": 15.472962
    },
    "37": {
        "CountryLive": "Denmark",
        "Participants": 58,
        "Age": 28.0,
        "latitude": 56.26392,
        "longitude": 9.501785
    },
    "38": {
        "CountryLive": "Dominica",
        "Participants": 3,
        "Age": 30.0,
        "latitude": 15.414999,
        "longitude": -61.370976
    },
    "39": {
        "CountryLive": "Dominican Republic",
        "Participants": 32,
        "Age": 23.0,
        "latitude": 18.735692999999998,
        "longitude": -70.162651
    },
    "40": {
        "CountryLive": "Ecuador",
        "Participants": 10,
        "Age": 26.0,
        "latitude": -1.8312389999999998,
        "longitude": -78.183406
    },
    "41": {
        "CountryLive": "Egypt",
        "Participants": 87,
        "Age": 24.0,
        "latitude": 26.820553000000004,
        "longitude": 30.802497999999996
    },
    "42": {
        "CountryLive": "El Salvador",
        "Participants": 5,
        "Age": 30.0,
        "latitude": 13.794185,
        "longitude": -88.89653
    },
    "43": {
        "CountryLive": "Estonia",
        "Participants": 24,
        "Age": 26.0,
        "latitude": 58.595271999999994,
        "longitude": 25.013607
    },
    "44": {
        "CountryLive": "Ethiopia",
        "Participants": 2,
        "Age": 22.0,
        "latitude": 9.145,
        "longitude": 40.489672999999996
    },
    "45": {
        "CountryLive": "Finland",
        "Participants": 55,
        "Age": 30.0,
        "latitude": 61.92411,
        "longitude": 25.748151
    },
    "46": {
        "CountryLive": "France",
        "Participants": 226,
        "Age": 29.0,
        "latitude": 46.22763799999999,
        "longitude": 2.213749
    },
    "47": {
        "CountryLive": "Gabon",
        "Participants": 1,
        "Age": 26.0,
        "latitude": -0.803689,
        "longitude": 11.609444
    },
    "48": {
        "CountryLive": "Gambia",
        "Participants": 3,
        "Age": 25.0,
        "latitude": 13.443182,
        "longitude": -15.310139000000001
    },
    "49": {
        "CountryLive": "Georgia",
        "Participants": 11,
        "Age": 24.0,
        "latitude": 42.315407,
        "longitude": 43.356891999999995
    },
    "50": {
        "CountryLive": "Germany",
        "Participants": 322,
        "Age": 27.0,
        "latitude": 51.165690999999995,
        "longitude": 10.451526
    },
    "51": {
        "CountryLive": "Ghana",
        "Participants": 29,
        "Age": 25.0,
        "latitude": 7.946527000000001,
        "longitude": -1.0231940000000002
    },
    "52": {
        "CountryLive": "Gibraltar",
        "Participants": 1,
        "Age": 19.0,
        "latitude": 36.137741,
        "longitude": -5.345374
    },
    "53": {
        "CountryLive": "Greece",
        "Participants": 116,
        "Age": 28.0,
        "latitude": 39.074208,
        "longitude": 21.824312
    },
    "55": {
        "CountryLive": "Guadeloupe",
        "Participants": 1,
        "Age": 32.0,
        "latitude": 16.995971,
        "longitude": -62.067641
    },
    "56": {
        "CountryLive": "Guam",
        "Participants": 3,
        "Age": 35.0,
        "latitude": 13.444304,
        "longitude": 144.793731
    },
    "57": {
        "CountryLive": "Guatemala",
        "Participants": 6,
        "Age": 29.0,
        "latitude": 15.783470999999999,
        "longitude": -90.23075899999999
    },
    "58": {
        "CountryLive": "Haiti",
        "Participants": 3,
        "Age": 27.0,
        "latitude": 18.971187,
        "longitude": -72.28521500000001
    },
    "59": {
        "CountryLive": "Honduras",
        "Participants": 3,
        "Age": 24.0,
        "latitude": 15.199998999999998,
        "longitude": -86.241905
    },
    "60": {
        "CountryLive": "Hong Kong",
        "Participants": 25,
        "Age": 26.0,
        "latitude": 22.396428,
        "longitude": 114.10949699999999
    },
    "61": {
        "CountryLive": "Hungary",
        "Participants": 77,
        "Age": 27.0,
        "latitude": 47.162494,
        "longitude": 19.503304
    },
    "62": {
        "CountryLive": "Iceland",
        "Participants": 5,
        "Age": 24.0,
        "latitude": 64.96305100000001,
        "longitude": -19.020835
    },
    "63": {
        "CountryLive": "India",
        "Participants": 1385,
        "Age": 23.0,
        "latitude": 20.593684,
        "longitude": 78.96288
    },
    "64": {
        "CountryLive": "Indonesia",
        "Participants": 89,
        "Age": 24.0,
        "latitude": -0.789275,
        "longitude": 113.921327
    },
    "65": {
        "CountryLive": "Iran",
        "Participants": 19,
        "Age": 25.0,
        "latitude": 32.427908,
        "longitude": 53.68804599999999
    },
    "66": {
        "CountryLive": "Iraq",
        "Participants": 5,
        "Age": 27.0,
        "latitude": 33.223191,
        "longitude": 43.679291
    },
    "67": {
        "CountryLive": "Ireland",
        "Participants": 74,
        "Age": 32.0,
        "latitude": 53.41291,
        "longitude": -8.243889999999999
    },
    "68": {
        "CountryLive": "Isle of Man",
        "Participants": 1,
        "Age": 27.0,
        "latitude": 54.236107,
        "longitude": -4.548056
    },
    "69": {
        "CountryLive": "Israel",
        "Participants": 73,
        "Age": 28.0,
        "latitude": 31.046051000000002,
        "longitude": 34.851612
    },
    "70": {
        "CountryLive": "Italy",
        "Participants": 164,
        "Age": 29.0,
        "latitude": 41.87194,
        "longitude": 12.56738
    },
    "71": {
        "CountryLive": "Jamaica",
        "Participants": 15,
        "Age": 28.0,
        "latitude": 18.109581,
        "longitude": -77.297508
    },
    "72": {
        "CountryLive": "Japan",
        "Participants": 58,
        "Age": 29.0,
        "latitude": 36.204824,
        "longitude": 138.252924
    },
    "73": {
        "CountryLive": "Jordan",
        "Participants": 6,
        "Age": 24.0,
        "latitude": 30.585164000000002,
        "longitude": 36.238414
    },
    "74": {
        "CountryLive": "Kazakhstan",
        "Participants": 31,
        "Age": 25.0,
        "latitude": 48.019573,
        "longitude": 66.923684
    },
    "75": {
        "CountryLive": "Kenya",
        "Participants": 89,
        "Age": 25.0,
        "latitude": -0.023559,
        "longitude": 37.906193
    },
    "76": {
        "CountryLive": "Kuwait",
        "Participants": 1,
        "Age": 28.0,
        "latitude": 29.311659999999996,
        "longitude": 47.481766
    },
    "77": {
        "CountryLive": "Kyrgyzstan",
        "Participants": 3,
        "Age": 29.0,
        "latitude": 41.20438,
        "longitude": 74.766098
    },
    "78": {
        "CountryLive": "Latvia",
        "Participants": 24,
        "Age": 26.0,
        "latitude": 56.879635,
        "longitude": 24.603189
    },
    "79": {
        "CountryLive": "Lebanon",
        "Participants": 5,
        "Age": 24.0,
        "latitude": 33.854721000000005,
        "longitude": 35.862285
    },
    "80": {
        "CountryLive": "Liberia",
        "Participants": 1,
        "Age": 26.0,
        "latitude": 6.4280550000000005,
        "longitude": -9.429499
    },
    "81": {
        "CountryLive": "Lithuania",
        "Participants": 44,
        "Age": 25.0,
        "latitude": 55.169438,
        "longitude": 23.881275
    },
    "82": {
        "CountryLive": "Luxembourg",
        "Participants": 14,
        "Age": 27.0,
        "latitude": 49.815273,
        "longitude": 6.129583
    },
    "83": {
        "CountryLive": "Madagascar",
        "Participants": 1,
        "Age": 30.0,
        "latitude": -18.766947000000002,
        "longitude": 46.869107
    },
    "84": {
        "CountryLive": "Malawi",
        "Participants": 2,
        "Age": 26.0,
        "latitude": -13.254307999999998,
        "longitude": 34.301525
    },
    "85": {
        "CountryLive": "Malaysia",
        "Participants": 65,
        "Age": 25.0,
        "latitude": 4.210483999999999,
        "longitude": 101.97576600000001
    },
    "86": {
        "CountryLive": "Maldives",
        "Participants": 4,
        "Age": 24.0,
        "latitude": 3.202778,
        "longitude": 73.22068
    },
    "87": {
        "CountryLive": "Malta",
        "Participants": 6,
        "Age": 28.0,
        "latitude": 35.937496,
        "longitude": 14.375416
    },
    "88": {
        "CountryLive": "Martinique",
        "Participants": 1,
        "Age": 41.0,
        "latitude": 14.641528,
        "longitude": -61.024174
    },
    "89": {
        "CountryLive": "Mauritius",
        "Participants": 5,
        "Age": 25.0,
        "latitude": -20.348404000000002,
        "longitude": 57.552152
    },
    "90": {
        "CountryLive": "Mexico",
        "Participants": 154,
        "Age": 27.0,
        "latitude": 23.634501,
        "longitude": -102.552784
    },
    "91": {
        "CountryLive": "Moldova",
        "Participants": 13,
        "Age": 25.0,
        "latitude": 47.411631,
        "longitude": 28.369884999999996
    },
    "92": {
        "CountryLive": "Mongolia",
        "Participants": 2,
        "Age": 31.0,
        "latitude": 46.862496,
        "longitude": 103.84665600000001
    },
    "93": {
        "CountryLive": "Morocco",
        "Participants": 35,
        "Age": 26.0,
        "latitude": 31.791702,
        "longitude": -7.09262
    },
    "94": {
        "CountryLive": "Mozambique",
        "Participants": 4,
        "Age": 28.0,
        "latitude": -18.665695,
        "longitude": 35.529562
    },
    "95": {
        "CountryLive": "Nepal",
        "Participants": 41,
        "Age": 22.0,
        "latitude": 28.394857000000002,
        "longitude": 84.12400799999999
    },
    "96": {
        "CountryLive": "New Caledonia",
        "Participants": 1,
        "Age": 18.0,
        "latitude": -20.904304999999997,
        "longitude": 165.618042
    },
    "97": {
        "CountryLive": "New Zealand",
        "Participants": 70,
        "Age": 29.0,
        "latitude": -40.900557,
        "longitude": 174.885971
    },
    "98": {
        "CountryLive": "Nicaragua",
        "Participants": 4,
        "Age": 26.0,
        "latitude": 12.865416,
        "longitude": -85.207229
    },
    "99": {
        "CountryLive": "Niger",
        "Participants": 5,
        "Age": 22.0,
        "latitude": 17.607789,
        "longitude": 8.081666
    },
    "100": {
        "CountryLive": "Nigeria",
        "Participants": 208,
        "Age": 25.0,
        "latitude": 9.081999,
        "longitude": 8.675277000000001
    },
    "101": {
        "CountryLive": "Norway",
        "Participants": 65,
        "Age": 28.0,
        "latitude": 60.472024,
        "longitude": 8.468946
    },
    "102": {
        "CountryLive": "Pakistan",
        "Participants": 108,
        "Age": 23.0,
        "latitude": 30.375321000000003,
        "longitude": 69.345116
    },
    "103": {
        "CountryLive": "Panama",
        "Participants": 7,
        "Age": 23.0,
        "latitude": 8.537981,
        "longitude": -80.782127
    },
    "104": {
        "CountryLive": "Papua New Guinea",
        "Participants": 3,
        "Age": 46.0,
        "latitude": -6.314993,
        "longitude": 143.95555
    },
    "105": {
        "CountryLive": "Paraguay",
        "Participants": 7,
        "Age": 27.0,
        "latitude": -23.442503,
        "longitude": -58.44383199999999
    },
    "106": {
        "CountryLive": "Peru",
        "Participants": 18,
        "Age": 26.0,
        "latitude": -9.189967,
        "longitude": -75.015152
    },
    "107": {
        "CountryLive": "Philippines",
        "Participants": 134,
        "Age": 25.0,
        "latitude": 12.879721,
        "longitude": 121.77401699999999
    },
    "108": {
        "CountryLive": "Poland",
        "Participants": 262,
        "Age": 26.0,
        "latitude": 51.919438,
        "longitude": 19.145135999999997
    },
    "109": {
        "CountryLive": "Portugal",
        "Participants": 67,
        "Age": 29.0,
        "latitude": 39.399871999999995,
        "longitude": -8.224454
    },
    "110": {
        "CountryLive": "Puerto Rico",
        "Participants": 15,
        "Age": 27.0,
        "latitude": 18.220833,
        "longitude": -66.590149
    },
    "111": {
        "CountryLive": "Qatar",
        "Participants": 5,
        "Age": 25.0,
        "latitude": 25.354826,
        "longitude": 51.183884
    },
    "112": {
        "CountryLive": "Romania",
        "Participants": 171,
        "Age": 26.0,
        "latitude": 45.943160999999996,
        "longitude": 24.96676
    },
    "113": {
        "CountryLive": "Russia",
        "Participants": 263,
        "Age": 27.0,
        "latitude": 61.52401,
        "longitude": 105.31875600000001
    },
    "114": {
        "CountryLive": "Rwanda",
        "Participants": 1,
        "Age": 18.0,
        "latitude": -1.940278,
        "longitude": 29.873888
    },
    "115": {
        "CountryLive": "Samoa",
        "Participants": 1,
        "Age": 22.0,
        "latitude": -13.759029,
        "longitude": -172.10462900000002
    },
    "116": {
        "CountryLive": "Saudi Arabia",
        "Participants": 23,
        "Age": 27.0,
        "latitude": 23.885942,
        "longitude": 45.079162
    },
    "117": {
        "CountryLive": "Senegal",
        "Participants": 7,
        "Age": 28.0,
        "latitude": 14.497401000000002,
        "longitude": -14.452361999999999
    },
    "118": {
        "CountryLive": "Serbia",
        "Participants": 115,
        "Age": 28.0,
        "latitude": 44.016521000000004,
        "longitude": 21.005859
    },
    "119": {
        "CountryLive": "Sierra Leone",