## Import Dependencies

In [1]:
import numpy as np 
import pandas as pd 
import os 
from matplotlib import pyplot as plt
from matplotlib import style

## Read CSV and explore

In [3]:
full_df = pd.read_csv(os.path.join("..", "Resources", "MetObjectsML_train.csv"))
full_df.head()

FileNotFoundError: [Errno 2] File ..\Resources\MetObjectsML_train.csv does not exist: '..\\Resources\\MetObjectsML_train.csv'

In [12]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402609 entries, 0 to 402608
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Is Highlight       402609 non-null  bool
 1   Is Timeline Work   402609 non-null  bool
 2   Is Public Domain   402609 non-null  bool
 3   Department         402609 non-null  object
 4   AccessionYear      402609 non-null  int64
 5   Object Begin Date  402609 non-null  int64
 6   Object End Date    402609 non-null  int64
dtypes: bool(3), int64(3), object(1)
memory usage: 13.4+ MB

In [13]:
full_df.describe()

       AccessionYear  Object Begin Date  Object End Date
count  402609.000000      402609.000000    402609.000000
mean     1956.775477        1718.029023      1766.843245
std        33.127004         343.504080       296.131975
min      1870.000000           1.000000         1.000000
25%      1932.000000        1680.000000      1735.000000
50%      1960.000000        1822.000000      1870.000000
75%      1980.000000        1900.000000      1916.000000
max      2020.000000        5000.000000     15335.000000

## Convert boolean columns to integer

In [14]:
full_df[["Is Highlight", "Is Timeline Work", "Is Public Domain"]] = (full_df[["Is Highlight", "Is Timeline Work", "Is Public Domain"]] == "TRUE").astype(int)

In [15]:
full_df.head()

,Is Highlight,Is Timeline Work,Is Public Domain,Department,AccessionYear,Object Begin Date,Object End Date
0,0,0,0,Greek and Roman Art,2011,1,100
1,0,0,0,Greek and Roman Art,2011,1,100
2,0,0,0,Greek and Roman Art,2011,1,100
3,0,0,0,Greek and Roman Art,2011,1,200
4,0,0,0,Asian Art,2010,1,99

In [16]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402609 entries, 0 to 402608
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Is Highlight       402609 non-null  int32
 1   Is Timeline Work   402609 non-null  int32
 2   Is Public Domain   402609 non-null  int32
 3   Department         402609 non-null  object
 4   AccessionYear      402609 non-null  int64
 5   Object Begin Date  402609 non-null  int64
 6   Object End Date    402609 non-null  int64
dtypes: int32(3), int64(3), object(1)
memory usage: 16.9+ MB

## Convert Deptartments (object) columns to integer

In [17]:
full_df["Department"] = full_df["Department"].map({"Ancient Near Eastern Art": 1,\
                                                     "Arms and Armor": 2,\
                                                     "Arts of Africa, Oceania, and the Americas": 3,\
                                                     "Asian Art": 4,\
                                                     "Costume Institute" : 5,\
                                                     "Drawings and Prints": 6,\
                                                     "Egyptian Art": 7,\
                                                     "European Paintings": 8,\
                                                     "European Sculpture and Decorative Arts": 9,\
                                                     "Greek and Roman Art": 10,\
                                                     "Islamic Art": 11,\
                                                     "Medieval Art": 12,\
                                                     "Modern and Contemporary Art": 13,\
                                                     "Musical Instruments": 14,\
                                                     "Photographs": 15,\
                                                     "Robert Lehman Collection": 16,\
                                                     "The American Wing": 17,\
                                                     "The Cloisters": 18,\
                                                     "The Libraries": 19})

In [18]:
full_df.head()

,Is Highlight,Is Timeline Work,Is Public Domain,Department,AccessionYear,Object Begin Date,Object End Date
0,0,0,0,10,2011,1,100
1,0,0,0,10,2011,1,100
2,0,0,0,10,2011,1,100
3,0,0,0,10,2011,1,200
4,0,0,0,4,2010,1,99

In [19]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402609 entries, 0 to 402608
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Is Highlight       402609 non-null  int32
 1   Is Timeline Work   402609 non-null  int32
 2   Is Public Domain   402609 non-null  int32
 3   Department         402609 non-null  int64
 4   AccessionYear      402609 non-null  int64
 5   Object Begin Date  402609 non-null  int64
 6   Object End Date    402609 non-null  int64
dtypes: int32(3), int64(4)
memory usage: 16.9 MB

## New calcs

In [20]:
full_df.insert(6, "Current Year", 2021)

In [22]:
full_df["Object Age"] = full_df["Current Year"] - full_df["Object End Date"]

In [23]:
full_df["Met Possession"]= full_df["Current Year"] - full_df["AccessionYear"]

In [24]:
full_df.head()

,Is Highlight,Is Timeline Work,Is Public Domain,Department,AccessionYear,Object Begin Date,Current Year,Object End Date,Object Age,Met Possession
0,0,0,0,10,2011,1,2021,100,1921,10
1,0,0,0,10,2011,1,2021,100,1921,10
2,0,0,0,10,2011,1,2021,100,1921,10
3,0,0,0,10,2011,1,2021,200,1821,10
4,0,0,0,4,2010,1,2021,99,1922,11

In [25]:
df= full_df
df.head()

,Is Highlight,Is Timeline Work,Is Public Domain,Department,AccessionYear,Object Begin Date,Current Year,Object End Date,Object Age,Met Possession
0,0,0,0,10,2011,1,2021,100,1921,10
1,0,0,0,10,2011,1,2021,100,1921,10
2,0,0,0,10,2011,1,2021,100,1921,10
3,0,0,0,10,2011,1,2021,200,1821,10
4,0,0,0,4,2010,1,2021,99,1922,11

In [26]:
df["Is Public Domain"].value_counts()

0    402609
Name: Is Public Domain, dtype: int64

In [ ]:
%matplotlib inline
pd.crosstab(df.job,data.y).plot(kind='bar')
plt.title('Purchase Frequency for Job Title')
plt.xlabel('Job')
plt.ylabel('Frequency of Purchase')
plt.savefig('purchase_fre_job')